body{
    background-image: url(../images/black-fon.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: 0;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.thumbs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.thumb {
  width: 70px;
  height: 90px;
  object-fit: cover;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
  border: 2px solid transparent;
}

.thumb.active {
  opacity: 1;
  border: 2px solid orange;
}

.main {
  position: relative;
}

.main-img {
  width: 350px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(230, 230, 230, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  opacity: 0.8;
}

.arrow.left {
  left: -60px;
}

.arrow.right {
  right: -60px;
}

.arrow:hover {
  background: rgba(200, 200, 200, 0.9);
}